---
interface Props {
  type: "button" | "submit" | "reset";
}

const { type } = Astro.props;
---

<button type={type}>
  <div class="ornament ornament--vertical">
    <div class="ornament-top-bottom"></div>
    <div class="ornament-left-right"></div>
  </div>

  <div class="ornament ornament--horizontal">
    <div class="ornament-top-bottom"></div>
    <div class="ornament-left-right"></div>
  </div>

  <span class="label"><slot /></span>
</button>

<style>
  button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    padding: 0.5rem;
    box-shadow: inset 0 0 0 1px var(--gold);
    text-align: center;
    cursor: pointer;
    background-color: var(--button-background);
    outline: none;
    border: none;
    font-family: var(--body-font);
    margin: 0.5rem;
  }

  .label {
    display: block;
    background-color: transparent;
    color: var(--gold);
    padding: var(--space-2) var(--space-4);
    transition:
      color 500ms ease,
      background-color 500ms ease;
  }

  button:hover .label,
  button:focus .label {
    color: var(--button-text-color-hover);
    background-color: var(--button-background-hover);
  }

  .ornament {
    position: absolute;
  }

  .ornament--vertical {
    top: -0.5rem;
    bottom: -0.5rem;
    left: 0;
    right: 0;
  }

  .ornament--horizontal {
    left: -0.5rem;
    right: -0.5rem;
    top: 0;
    bottom: 0;
  }

  .ornament-top-bottom,
  .ornament-left-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .ornament-top-bottom:before,
  .ornament-left-right:before,
  .ornament-top-bottom:after,
  .ornament-left-right:after {
    content: "";
    position: absolute;
    background-color: var(--button-background-hover);
    transition: transform 400ms cubic-bezier(0.54, 0.06, 0.39, 0.96);
  }

  .ornament-top-bottom:before,
  .ornament-top-bottom:after {
    height: 1px;
    left: 0;
    right: 0;
  }

  .ornament-top-bottom:before {
    top: 0;
  }

  .ornament-top-bottom:after {
    bottom: 0;
  }

  .ornament-left-right:before,
  .ornament-left-right:after {
    width: 1px;
    top: 0;
    bottom: 0;
  }

  .ornament-left-right:before {
    left: 0;
  }

  .ornament-left-right:after {
    right: 0;
  }

  button:hover .ornament-left-right:before,
  button:focus .ornament-left-right:before,
  button:hover .ornament-left-right:after,
  button:focus .ornament-left-right:after {
    transform: scale(1, 0);
  }

  button:hover .ornament-top-bottom:before,
  button:focus .ornament-top-bottom:before,
  button:hover .ornament-top-bottom:after,
  button:focus .ornament-top-bottom:after {
    transform: scale(0, 1);
  }
</style>
