---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button";
import Link from "../components/Link";
---

<Layout title="Wildshape Workshop">
  <main>
    <h1>wildshape workshop</h1>
  </main>
</Layout>

<style>
  main {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  h1 {
    text-align: center;
  }
</style>
